# Python cache
**/__pycache__/
*.py[cod]
*.pyo
*.sqlite

# Частые кэши инструментов
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.cache/

# Кэш приложения
/cache-dir/

# Виртуальное окружение
/.venv/
/venv/